@import url('https://fonts.googleapis.com/css?family=Roboto:400,900,700');
@import url('https://fonts.googleapis.com/css?family=Asap:400,700,700italic');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

letras = #666
borde = #d4d4d4

@import 'inicio.styl'
